body {
	background-color: white;
}

.grow {
	background-color: gray;
	padding: 0;
	border-radius: 10px;
	height: 10em;
	width: 10em;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
	text-align: center;
	overflow: hidden;
	transition: 1.5s;
  
}

#flappycanva {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    border-color: black;
}

.grow img {
	width: 15em;
}

@media only screen and (max-width: 990px) {
  .grow {
	background-color: gray;
	padding: 0;
	border-radius: 10px;
	height: 25em;
	width: 15em;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
	text-align: center;
	overflow: hidden;
	transition: 1.5s;
}
}


.grow:hover {
  height: 25em;
  width: 15em;
}

a.hoverable_div {
	text-decoration: none;
	color: black;
	
}
.nav-link{
  color: white;
  }

#menu3 {
		display:none;
	}

@media only screen and (max-width: 990px) {
  #menu1 {
    display: none;
  }

	#menu2 {
		display: none;
	}
	#menu3 {
		display:inline;
	}
}
#dropdownMenuButton1 {
	background-color: #0d6efd;
}

#welcome_tag {
	color: inherit;
}