body {
	background-color: white;
}

.grow {
	background-color: gray;
	padding: 0;
	border-radius: 10px;
	height: 10em;
	width: 10em;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
	text-align: center;
	overflow: hidden;
	transition: 1.5s;
  
}

.grow img {
	width: 10em;
}
.grow:hover {
  height: 20em;
  width: 10em;
}

a.hoverable_div {
	text-decoration: none;
	color: black;
	
}