<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game_name }}</title>
    {%  load static %}
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Games/style.css' %}" type="text/css">
    <link rel="icon" href="{% static 'Games/img/turtle.png' %}" type="image/x-icon"/>
</head>
<body>
<div class="container-fluid p-3 bg-primary text-white text-center">
<h1>{{ game_name }}</h1>
    <nav class="navbar navbar-expand-lg">
        <ul id = "menu1" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}" >Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'snake' %}">Snake</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="{% url 'flappy' %}">Flappy Square</a>
          </li>
        </ul>
        <ul id = "menu2" class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a id="welcome_tag" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Welcome {{ user.username }}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
        </ul>
    <div id="menu3" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
            <a class="dropdown-item" href="{% url 'index' %}" >Home Page</a>
          </li>
          <li >
            <a class="dropdown-item" href="{% url 'snake' %}">Snake</a>
          </li>
             <li>
            <a class="dropdown-item" href="{% url 'flappy' %}">Flappy Square</a>
          </li>
            {% if user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" aria-disabled="true">Welcome {{ user.username }}!</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li >
                        <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li >
                        <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
          </ul>
        </div>
    </nav>
    </div>


    <div class="container">
    <div class="row">
        <div class='col-sm'>
            <div id="cur_score">0</div>
            {% include game_html %}
            <div class="container">
                <form method="POST">
                  <fieldset>
                      {% if user.is_authenticated %}
                          {% csrf_token %}
                          {{ form.score.as_hidden }}
                          <button type="submit" class="btn btn-primary">Submit your score</button>
                      {% else %}
                          <button type="button" class="btn btn-primary" disabled>Log in to submit your score</button>
                          <div id="id_score">0</div>
                      {% endif %}
                  </fieldset>
                </form>
            </div>
        </div>



        <div class='col-sm'>
            <div class="container">
                <div class="row">
                    <div class='col-sm'>
                        {% if scoreboard|length > 0 %}
                            <table class="table ">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">Users Score</th>
                                </tr>
                            </thead>
                        {% for tmp_score in scoreboard %}
                            <tr>
                                <th scope="col" >{{ forloop.counter0|add:1 }}</th>
                                <td>{{ tmp_score.user}}</td>
                                <td>{{ tmp_score.score }}</td>
                            </tr>
                        {% endfor %}</table>
                            {% else %}
                            <p>No game data available</p>
                        {% endif %}
                    </div>

                    <div class='col-sm'>
                        {% if user.is_authenticated %}
                        {% if user_scores|length > 0 %}
                            <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col"></th>
                                <th scope="col" colspan="2">{{ user.username }} Score</th>
                                </tr>
                            </thead>
                        {% for tmp_score in user_scores %}
                            <tr>
                                <th scope="col">{{ forloop.counter0|add:1 }}</th>
                                <td>{{ tmp_score.user}}</td>
                                <td>{{ tmp_score.score }}</td>
                            </tr>
                        {% endfor %}</table>
                        {% else %}
                            <p>No user data available</p>
                        {% endif %}
                        {% else %}
                            <p><a href="{% url 'login' %}">Log In</a> to see your scoreboard.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>