<!DOCTYPE html>
<html lang="en">
<head>
  <title>Turtle Games</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {%  load static %}
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Games/style.css' %}" type="text/css">
  <link rel="icon" href="{% static 'Games/img/turtle.png' %}" type="image/x-icon"/>
</head>
<body>

<div class="container-fluid p-3 bg-primary text-white text-center">
  <h1>TurtleGames</h1>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hi {{ user.username }}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
        </ul>
    </nav>
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Snake</h3>
      <a href="{% url 'snake' %}" class="hoverable_div">
		<div class="grow">
            {% load static %}
            <img src="{% static 'Games/img/snake.png' %}" alt="Snake image">
		  <p>In the game of Snake, the player uses the arrow keys to move a "snake" around the board.</p>
		</div>
		</a>
    </div>
    <div class="col-sm-4">
      <h3>Flappy Bird</h3>
      <a href="{% url 'flappy' %}" class="hoverable_div">
		<div class="grow">
		  <img src="{% static 'Games/img/flappy.png' %}" alt="Flappy image">
		  <p>Flappy Bird is an arcade-style game in which the player controls the bird</p>
		</div>
		</a>
    </div>
  </div>
</div>
  </body>
</html>
