<!DOCTYPE html>
<html>
	<head>
	<title>Snake Game</title>
	    {%  load static %}
     <link rel="stylesheet" href="{% static 'Games/snake_style.css' %}">
	</head>

	<body>
		<div id="score">0</div>
		<canvas id="snakeboard" width="400" height="400"></canvas>
		<a href="index.html">Go Back</a>
    <div>
			<form name="snake_form">
				<label for="scoreform">Score:</label><br>
				<input type="text" id="scoreform" name="scoreform" value="0" readonly="readonly" width="10" height="20"><br>
				<label for="nickname">Nickname:</label><br>
				<input type="text" id="nickname" name="nickname" value={{ user.username }}>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
	{%  load static %}
    <script src="{% static 'Games/snake.js' %}"></script>

</html>