<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Registration{% endblock %}</title>
  {%  load static %}
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Games/style.css' %}" type="text/css">
  <link rel="icon" href="{% static 'Games/img/turtle.png' %}" type="image/x-icon"/>

</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>